<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Board</title>
    <style>
        table {
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>Shared Files</h3>
    <hr>
    <table>
        <tr th:each="file : ${files}">
            <td th:text="${file.name}"></td>
            <td th:text="${file.info}"></td>
            <td th:text="${file.owner}"></td>
            <td><a th:href="@{'/shared/download?name=' + ${file.name} + '&id=' + ${file.id}}">download</a></td>
        </tr>
    </table>
</body>
</html>
